In [1]:
#ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#sort
ages.sort()

# Min/max
min_age = min(ages)
max_age = max(ages)

# add min/max to list
ages.extend([min_age, max_age])

# median
n = len(ages)
if n % 2 == 1:
    median_age = ages[n // 2]
else:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2

# average
average_age = sum(ages) / len(ages)

# range
age_range = max_age - min_age

# Results
print("Sorted:", ages)
print("Min:", min_age)
print("Max:", max_age)
print("Median:", median_age)
print("Average:", average_age)
print("Range:", age_range)

Sorted: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min: 19
Max: 26
Median: 24.0
Average: 22.75
Range: 7

In [6]:
dog = {}

# Add characteristics
dog["name"] = "Oli"
dog["color"] = "White"
dog["breed"] = "Australian Shepherd"
dog["legs"] = 4
dog["age"] = 4

# student
student = {
    "first_name": "Camden",
    "last_name": "Gear",
    "gender": "Male",
    "age": 21,
    "marital_status": "Single",
    "skills": ["coding"],
    "country": "United States",
    "city": "Sedalia",
    "address": "1800 House Blvd."
}

# student length
student_len = len(student)

# skills
skills_value = student["skills"]

#data type
skills_data_type = type(skills_value)

# adding skills
student["skills"].extend("programming")

# list of keys
keys_list = list(student.keys())

# list of values
values_list = list(student.values())

# Results
print("Dog:", dog)
print("Student:", student)
print("Length of Student:", student_len)
print("Skills Type:", skills_data_type)
print("Skills Value:", student["skills"])
print("List of Keys:", keys_list)
print("List of Values:", values_list)

Dog: {'name': 'Oli', 'color': 'White', 'breed': 'Australian Shepherd', 'legs': 4, 'age': 4}
Student: {'first_name': 'Camden', 'last_name': 'Gear', 'gender': 'Male', 'age': 21, 'marital_status': 'Single', 'skills': ['coding', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g'], 'country': 'United States', 'city': 'Sedalia', 'address': '1800 House Blvd.'}
Length of Student: 9
Skills Type: <class 'list'>
Skills Value: ['coding', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
List of Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
List of Values: ['Camden', 'Gear', 'Male', 21, 'Single', ['coding', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g'], 'United States', 'Sedalia', '1800 House Blvd.']

In [21]:
sisters = ("Alice", "Emily", "Grace")
brothers = ("Bob", "Charlie", "David")

# siblings
siblings = brothers + sisters

# num of siblings
num_siblings = len(siblings)

# father and mother
father_and_mother = ("father", "mother")
family_members = siblings + father_and_mother

# Print the results
print("Sisters:", sisters)
print("Brothers:", brothers)
print("Siblings:", siblings)
print("Num of Siblings:", num_siblings)
print("Family_members:", family_members)

Sisters: ('Alice', 'Emily', 'Grace')
Brothers: ('Bob', 'Charlie', 'David')
Siblings: ('Bob', 'Charlie', 'David', 'Alice', 'Emily', 'Grace')
Num of Siblings: 6
Family_members: ('Bob', 'Charlie', 'David', 'Alice', 'Emily', 'Grace', 'father', 'mother')

In [22]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# it length
length_it_companies = len(it_companies)

# twitter
it_companies.add('Twitter')

# insert companies
it_companies.update({'Reddit', 'Ebay'})

# remove company
it_companies.remove('IBM')

# Join
joined_set = A.union(B)

# intersection
intersection_set = A.intersection(B)

# Is subset
is_subset = A.issubset(B)

# disjoint sets
are_disjoint = A.isdisjoint(B)

# join
A.update(B)
B.update(A)

# symmetric difference
symmetric_difference = A.symmetric_difference(B)

# Delete sets
del it_companies
del A
del B

# length age list
age_set = set(age)
length_age_list = len(age)
length_age_set = len(age_set)

# Results
print("Length of it_companies:", length_it_companies)
print("Joined set of A and B:", joined_set)
print("Intersection of A and B:", intersection_set)
print("Is A subset of B:", is_subset)
print("Are A and B disjoint sets:", are_disjoint)
print("Symmetric difference between A and B:", symmetric_difference)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of it_companies: 7
Joined set of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Symmetric difference between A and B: set()
Length of age list: 8
Length of age set: 5

In [23]:
import math

# radius
radius_fixed = 30

# area
area_of_circle = math.pi * radius_fixed ** 2

# circumference
circum_of_circle = 2 * math.pi * radius_fixed

# Results
print("For a circle with a fixed radius of 30 meters:")
print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

#Part 2
# radius
user_radius = float(input("Enter the radius of the circle (in meters): "))

# area
area_of_circle_user_input = math.pi * user_radius ** 2

# Results
print("For a circle with a user-input radius:")
print("Area of the circle:", area_of_circle_user_input)

For a circle with a fixed radius of 30 meters:
Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle (in meters): 1
For a circle with a user-input radius:
Area of the circle: 3.141592653589793

In [24]:
sentence = "I am a teacher and I love to inspire and teach people"

# split
words = sentence.split()

# to words
unique_words = set(words)

# unique words
num_unique_words = len(unique_words)

# Results
print("Original Sentence:", sentence)
print("Unique Words:", unique_words)
print("Number of Unique Words:", num_unique_words)

Original Sentence: I am a teacher and I love to inspire and teach people
Unique Words: {'inspire', 'I', 'and', 'to', 'a', 'teach', 'people', 'love', 'teacher', 'am'}
Number of Unique Words: 10

In [18]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t25\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	25	Finland	Helsinki

In [19]:
radius = 10
area = 3.14 * radius ** 2

# result string
result_string = f"The area of a circle with radius {radius} is {area} meters square."

# Result
print(result_string)

The area of a circle with radius 10 is 314.0 meters square.

In [25]:
num_students = int(input("Enter the number of students: "))

# weights(lbs)
weights_lbs = []

# read weights
for i in range(num_students):
    weight_lb = float(input(f"Enter weight of student {i + 1} in pounds: "))
    weights_lbs.append(weight_lb)

# weights to kilos
weights_kg = [round(weight_lb * 0.453592, 2) for weight_lb in weights_lbs]

# Results
print("Weights in pounds:", weights_lbs)
print("Weights in kilograms:", weights_kg)

Enter the number of students: 2
Enter weight of student 1 in pounds: 1
Enter weight of student 2 in pounds: 1
Weights in pounds: [1.0, 1.0]
Weights in kilograms: [0.45, 0.45]